<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>软件学院</title>
    <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../styles/bootstrap.css">
    <link rel="stylesheet" href="../styles/Software.css">
    <link rel="stylesheet" href="../styles/Basics.css">
    <script src="../js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
            <a class="navbar-brand" href="#">慕课</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="../views/index.html">首页<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/increase.html">课程</a>
                    </li>

                </ul>
                <form class="form-inline  mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="关键字" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                </form>
            </div>
        </nav>
    </header>

    <content>
        <div class="container-fluid mt-5">
            <div class="row ">
                <div class="col-md-12 text-center">
                    <h1>软件学院</h1>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-5">
            <div class="row ">
                <div class="col-4 py-0">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                            href="#list-home" role="tab" aria-controls="home">专业设置</a>
                        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                            href="#list-profile" role="tab" aria-controls="profile">专业介绍</a>
                        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                            href="#list-messages" role="tab" aria-controls="messages">学院详情</a>

                    </div>
                </div>
                <div class="col-8">
                    <div class="tab-content heigth" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                            aria-labelledby="list-home-list">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td colspan="2" rowspan="5">本科</td>
                                        <td colspan="2">软件工程</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">计算机科学与技术</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">数据科学与大数据技术</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">虚拟现实技术专业</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">智能科学与技术</td>
                                    </tr>

                                    <tr>
                                        <td colspan="2" rowspan="5">高职</td>
                                        <td colspan="2">软件技术</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">计算机应用技术</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade heigth" id="list-profile" role="tabpanel"
                            aria-labelledby="list-profile-list">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col" colspan="2">专业</th>
                                        <th scope="col">专业方向</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="2" rowspan="5">软件工程</td>
                                        <td colspan="2">嵌入式方向</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">软件开发方向（Java开发）</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">游戏软件方向</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">移动应用方向（iOS开发）</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">移动应用方向（Android开发）</td>
                                    </tr>

                                    <tr>
                                        <td colspan="2" rowspan="2">计算机科学与技术</td>
                                        <td colspan="2">人工智能方向</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">大数据与云计算方向</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" rowspan="2">数据科学与大数据技术</td>
                                        <td colspan="2">大数据开发方向</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">数据分析方向</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" rowspan="2">智能科学与技术专业</td>
                                        <td colspan="2">智能机器人方向</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">人工智能应用开发方向</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" rowspan="2">虚拟现实技术</td>
                                        <td colspan="2">虚拟现实应用开发方向

                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">虚拟现实设计与制作方向</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade heigth" id="list-messages" role="tabpanel"
                            aria-labelledby="list-messages-list">
                            <p class="font">
                                软件学院的前身是1995年建校初期设立的计算机专业，是哈尔滨信息工程学院建校时最早的部门之一。2006年成立软件技术系，2010年更名为软件工程系，2014年成立软件学院。
                                软件学院是国家示范性软件学院、黑龙江省外包产业人才培养基地。致力于培养适应信息化社会发展需要的软件开发、大数据技术应用、工业机器人应用等行业的具有较强工程实践能力的应用型高级IT人才。
                                <p class="font">
                                    现有在校生合计5021人。开设软件工程、计算机科学与技术、数据科学与大数据技术、智能科学与技术、虚拟现实技术5个本科专业和软件技术、计算机应用技术2个高职专业。其中，软件技术专业是国家示范性软件学院重点建设专业，计算机应用技术专业是中央财政支持重点建设专业。
                                    学院现有教师211人,博士5人，硕士102人，教授15人，副教授76人，双师型教师占比62.5%。近5年来，出版教材25部，省级教学科研立项21项，研发实用新型专利20项，发表国家级、省级教研科研论文274篇，校级教学成果奖一等奖15项。
                                </p>
                                <p class="font">
                                    学院秉承“将学校建设成省内一流、国内特色鲜明的应用型本科”的办学目标，根据社会对IT人才的广泛需求与要求，按照以“就业为导向，专业能力为本”的原则，坚持以突出实践教学为特色，充分发挥我校笔记本大学的优势，不断进行教学改革创新。几年来进行了“优化课程体系、细化专业方向”、“专业课前置”、“核心课程三进阶”、“实践教学编程不断线”等一系列的重大教学改革，人才培养效果显著，毕业生得到了企业的一致认可和好评。
                                    在校企合作方面学院构建了“工学结合、产教融合”的人才培养模式，与联想集团、微软、苹果、用友、甲骨文等世界五百强企业对接，建有苹果公司东北区AATCE培训基地、谷歌东北教师培训中心、微软公司授权培训中心（ATC）、华为网络学院、联想高级人才东北培训基地、联想集团工程师培养培训基地、IBM
                                    AUEC人才培养基地、用友公司软件实施人才培养基地、甲骨文校企合作单位等多个校企合作基地。实现“校企协同育人”、“工学交替”的人才培养模式，构筑了产学研深度融合的协同育人平台。
                                </p>
                                <p class="font">
                                    近年来，软件学院在科研育人的探索中也取得了一些成绩，将应用型科研育人作为抓手，搭建了众多应用型科研实践平台。目前，学院建有1个智慧校园研发中心、1个创客中心、32个实验室和科研室，总面积3938平方米。实验室和研发室均为开放式，配有专业的图书资料，主要作为孵化学生创新科研成果的重要基地。近3年由教师带领学生开发并正式上线的项目包含响应式黑龙江省教育厅黑龙江省高等教育数据分析系统、黑龙江省教育资源统计系统、多人协作汽车拆装实验系统、自助离校系统、哈信息后勤管理系统App等24个系统；智能零售系统、移动端人员信息识别系统、基于机械手臂协同操作的研究与开发系统、学生寝室无感监控查询系统、哈信息评卷系统等在研项目34个。软件学院在应用型科研育人的道路上形成了学生“自研”、师生“同研”、产教“领研”的育人新模式。两年来育人成果颇丰，学生在国家级、省级竞赛中共获奖185项，应用型人才培养质量持续提升。
                                </p>
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </content>

    <footer class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 py-3 ">

                    <p class="color ">哈信息慕课让好的课堂没有城墙.,让你也是清华北大的学生</p>
                </div>
                <div class="col-lg-2  py-3">
                    <p class="color ">关于我们 联系我们</p>
                    <p class="color ">常见问题 意见反馈 </p>
                    <p class="color ">法律条款</p>
                </div>
                <div class="col-lg-2 py-3">
                    <p class="color">联系我们</p>
                </div>
                <div class="col-lg-2 py-3">
                    <p class="color">友情链接</p>
                </div>
            </div>
            <div class="row">
                <p class="color">网上有害信息举报：网站 https://www.12377.cn 电话 010-58581010 邮箱 youdao_jubao@rd.netease.com</p>
                <p class="color">粤B2-20090191-26 | 京ICP备12020869号-2 | 京公网安备44010602000207</p>
                <p class="color">©2014-2021 icourse163.org</p>
            </div>
        </div>
    </footer>

    <script src="../js/Software.js"></script>
</body>

</html>